<div class="sidebar">

    <div class="logo">

        <h2>WhatsApp CRM</h2>

    </div>


    <nav>

        <a href="dashboard.html"
           data-page="dashboard">

            🏠 Dashboard

        </a>


        <a href="customers.html"
           data-page="customers">

            👥 Customers

        </a>


        <a href="products.html"
           data-page="products">

            📦 Products

        </a>


        <a href="#">

            💬 Broadcast

        </a>


        <a href="#">

            📄 Templates

        </a>


        <a href="#">

            📊 Reports

        </a>

    </nav>


    <button id="sidebarLogout">

        Logout

    </button>

</div>
